<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header">Volumen</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-text class="title-temas">
        Volumen
        </ion-text>
        <ion-img class="img-temas" src="../../assets/Imagenes/volumen.png"></ion-img>
        <p>
            El volumen1​ es una magnitud métrica de tipo escalar2​ definida como la extensión en tres dimensiones de una región del espacio. Es una magnitud derivada de la longitud, ya que se halla multiplicando la longitud, el ancho y la altura. Matemáticamente el volumen es definible no sólo en cualquier espacio euclídeo, sino también en otro tipo de espacios métricos que incluyen por ejemplo a las variedades de Riemann.

            Desde un punto de vista físico, los cuerpos materiales ocupan un volumen por el hecho de ser extensos, fenómeno que se debe al principio de exclusión de Pauli. La noción de volumen es más complicada que la de superficie y en su uso formal puede dar lugar a la llamada paradoja de Banach-Tarski.
            
            La unidad de medida de volumen en el Sistema Internacional de Unidades es el metro cúbico. En el viejo Sistema Métrico Decimal, la unidad de volumen para sólidos era el Estéreo, igual al metro cúbico. 
        </p>
    <div class="video">
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/_447xuefhoY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      </ion-card-content>
    </ion-card>
    
    </ion-content>
