<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">Tema 4 Unidad 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text class="title-temas">
        Raiz cuadrada
      </ion-text>
      <ion-img class="img-temas" src="../../assets/Imagenes/Raiz.jpg"></ion-img>
      <P>
          La raíz de una expresión algebraica es toda expresión algebraica que elevada a una potencia reproduce la expresión dada. El signo de raíz es llamado radical debajo de este signo se coloca la cantidad a la cual se sustrae la raíz, llamada por eso cantidad subradical.

          Raíz_Cuadrada
          Es un procedimiento matemático contrario a la potenciación, la raíz de índice dos se le conoce como raíz cuadrada, También existen raíces de índice 3, 4, 5. Mediante la potenciación se puede escribir X3=27, para saber qué número elevado al cubo da como resultado 27, se escribe ∛27=3.
      </P>
  <div class="video">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/gPV5VqQ3Ajg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    </ion-card-content>
  </ion-card>
  
  </ion-content>
  

