<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header">Tema 4 Unidad 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-text class="title-temas">
          Raiz cuadrada
        </ion-text>
        <ion-img class="img-temas" src="../../assets/Imagenes/prisma.jpg"></ion-img>
        <P>
            Un prisma es un poliedro que tienen dos caras paralelas e iguales llamadas bases y sus caras laterales son paralelogramos.

Desarrollo de un prisma

Elementos de un prisma
Elementos de un prisma


Altura de un prisma es la distancia entre las bases.

Los lados de las bases constituyen las aristas básicas y los lados de las caras laterales las aristas laterales, éstas son iguales y paralelas entre sí.

Área lateral de un prisma
Área lateral de un prisma

área y  volumen

Área total de un prisma
Área total de un prisma

Volumen de un prisma
Volumen de un prisma

Tipos de prismas
Prismas regulares
Prisma regular

Son los prismas cuyas bases son polígonos regulares.

Prismas irregulares
Prisma irregular

Son los prismas cuyas bases son polígonos irregulares.

Prismas rectos
Prisma recto

Son los prismas cuyas caras laterales son rectángulos o cuadrados.

Prismas oblicuos
Prisma oblicuo

Son los prismas cuyas caras laterales son romboides o rombos.

Paralelepípedos
Paralelepípedo

Los paralelepípedos son los prismas cuyas bases son paralelogramos.

Ortoedros
Ortoedro

Los ortoedros son paralelepípedos que tienen todas sus caras rectangulares.

Tipos de prismas según su base
Prisma triangular
Prisma triangular

Sus bases son triángulos.

Prisma cuadrangular
Prisma cuadrangular

Sus bases son cuadrados.

Prisma pentagonal
Prisma pentagonal

Sus bases son pentágonos.

Prisma hexagonal
Prisma hexagonal

Sus bases son hexágonos.
Ejercicios
Calcula la altura de un prisma que tiene como área de la base 12 dm2 y 48 l de capacidad.

Calcula el área lateral, el área total y el volumen de un prisma cuya base es un rombo de de diagonales 12 y 18 cm.

prisma romboidal

        </P>
    <div class="video">
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/n0j1XwaroHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      </ion-card-content>
    </ion-card>
    
    </ion-content>
