<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header">Fundamentos algebra</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-text class="title-temas">
          Fundamentos algebra
        </ion-text>
        <ion-img class="img-temas" src="../../assets/Imagenes/algebra.jpg"></ion-img>
        <P>
          El álgebra (del árabe: الجبر al-ŷabr 'reintegración, recomposición')1​ es la rama de la matemática que estudia la combinación de elementos de estructuras abstractas acorde a ciertas reglas. Originalmente esos elementos podían ser interpretados como números o cantidades, por lo que el álgebra en cierto modo originalmente fue una generalización y extensión de la aritmética.
          Álgebra elemental es la parte del álgebra que se enseña generalmente en los cursos de matemáticas.
Álgebra abstracta es el nombre dado al estudio de las «estructuras algebraicas» propiamente.
El álgebra usualmente se basa en estudiar las combinaciones de cadenas finitas de signos y, mientras que análisis matemático requiere estudiar límites y sucesiones de una cantidad infinita de elementos.
        </P>
    <div class="video">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/gezQKbMaGoU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      </ion-card-content>
    </ion-card>
    
    </ion-content>
    
