<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Unidades</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <ion-card-content>
          <ion-img class="img" src="../../assets/Imagenes/descarga.jpg"></ion-img>
      </ion-card-content>
    <ion-card-content>
      <ion-button  class="btn" expand="block" fill="outline" color="warning" shape="round" (click)="onUnidadUno()">
          <ion-icon name="book"></ion-icon>
        <ion-text color="dark">Unidad 1</ion-text>
      </ion-button>
      <div *ngIf="unidad1">
        <ion-button  color="warning" class="btn-tema" href="menu/u1-t1">
          <ion-text>
            Sistema de numeración
          </ion-text>
        </ion-button>
        <ion-button color="warning" class="btn-tema" href="menu/u1-t2">
            <ion-text>
             Fundamentos algebra
            </ion-text>
          </ion-button>
          <ion-button color="warning" class="btn-tema" href="menu/u1-t3">
            <ion-text>
              Exponentes
            </ion-text>
          </ion-button>
          <ion-button color="warning" class="btn-tema" href="menu/u1-t4">
            <ion-text>
              Raiz Cuadrada 
            </ion-text>
          </ion-button>
      </div>
      <ion-button class="btn" expand="block" fill="outline" color="primary" shape="round" (click)="onUnidadDos()">
          <ion-icon name="book"></ion-icon>
        <ion-text color="dark">Unidad 2</ion-text>
      </ion-button>
      <div *ngIf="unidad2">
          <ion-button color="primary" class="btn-tema" href="menu/u2-t1">
            <ion-text>
              Figuras y cuerpos
            </ion-text>
          </ion-button>
          <ion-button color="primary" class="btn-tema"  href="menu/u2-t2">
              <ion-text>
                Sistema métrico 
              </ion-text>
            </ion-button>
            <ion-button color="primary" class="btn-tema" href="menu/u2-t3">
              <ion-text>
               Polígonos
              </ion-text>
            </ion-button>
            <ion-button color="primary" class="btn-tema"  href="menu/u2-t4">
                <ion-text>
                  Prismas
                </ion-text>
              </ion-button>
        </div>
      <ion-button class="btn" expand="block" fill="outline" color="success" shape="round" (click)="onUnidadTres()">
          <ion-icon name="book"></ion-icon>
        <ion-text color="dark">Unidad 3</ion-text>
      </ion-button>
      <div *ngIf="unidad3">
          <ion-button color="success" class="btn-tema"  href="menu/u3-t1">
            <ion-text>
              Probabilidad
            </ion-text>
          </ion-button>
          <ion-button  color="success"class="btn-tema" href="menu/u3-t2">
              <ion-text>
                Estadística
              </ion-text>
            </ion-button>
            <ion-button color="success" class="btn-tema"  href="menu/u3-t3">
              <ion-text>
                Probabilidad compuesta
              </ion-text>
            </ion-button>
            <ion-button  color="success"class="btn-tema" href="menu/u3-t4">
                <ion-text>
                 Usos de la estadística
                </ion-text>
              </ion-button>
            
        </div>
      <ion-button class="btn" expand="block" fill="outline" color="danger" shape="round" (click)="onUnidadCuatro()">
          <ion-icon name="book"></ion-icon>
        <ion-text color="dark">Unidad 4</ion-text>
      </ion-button>
      <div *ngIf="unidad4">
          <ion-button color="danger" class="btn-tema" href="menu/u4-t1">
            <ion-text>
              Mediana
            </ion-text>
          </ion-button>
          <ion-button color="danger" class="btn-tema"  href="menu/u4-t2">
              <ion-text>
                Moda
              </ion-text>
            </ion-button>
            <ion-button color="danger" class="btn-tema" href="menu/u4-t3">
              <ion-text>
                Media
              </ion-text>
            </ion-button>
            <ion-button color="danger" class="btn-tema"  href="menu/u4-t4">
                <ion-text>
                 Rango
                </ion-text>
              </ion-button>
        </div>
      <ion-button class="btn" expand="block" fill="outline" color="tertiary" shape="round" (click)="onUnidadCinco()">
          <ion-icon name="book"></ion-icon>
        <ion-text color="dark">Unidad 5</ion-text>
      </ion-button>
      <div *ngIf="unidad5">
          <ion-button color="tertiary" class="btn-tema"  href="menu/u5-t1">
            <ion-text>
              Área
            </ion-text>
          </ion-button>
          <ion-button color="tertiary" class="btn-tema" href="menu/u5-t2">
              <ion-text>
                Volumen
              </ion-text>
            </ion-button>
            <ion-button color="tertiary" class="btn-tema"  href="menu/u5-t3">
              <ion-text>
                Perímetro
              </ion-text>
            </ion-button>
            <ion-button color="tertiary" class="btn-tema" href="menu/u5-t4">
                <ion-text>
                  Angulos 
                </ion-text>
              </ion-button>
        </div>
    </ion-card-content>
  </ion-card>

</ion-content>