<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">Sistema métrico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text class="title-temas">
        Sistema métrico
      </ion-text>
      <ion-img class="img-temas" src="../../assets/Imagenes/sistema.gif"></ion-img>
      <P>
        Para comprender qué es el sistema métrico, hay que saber a qué se refiere la idea de sistema de unidades: se trata de un grupo de unidades de medida. Una unidad de medida, por su parte, es una cantidad de una cierta magnitud física que se define, se estandariza y se adopta de forma convencional.

Sistema métrico
Con esto en claro, podemos avanzar y decir que el sistema métrico es un sistema de unidades que tiene como unidad de medida base al metro. Esta unidad de medida es una unidad de longitud (la magnitud física que indica la cantidad de espacio que existe entre dos puntos: es decir, la distancia).
      </P>
  <div class="video">
    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/yYjtIpcHJnQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    </ion-card-content>
  </ion-card>
  
  </ion-content>
