<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">Mediana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text class="title-temas">
      Mediana
      </ion-text>
      <ion-img class="img-temas" src="../../assets/Imagenes/media.jpg"></ion-img>
      <p>
          En el ámbito de la estadística, la mediana (del latín mediānus 'del medio'1​) representa el valor de la variable de posición central en un conjunto de datos ordenados. Se le denota Me.
        Si la serie tiene un número par de puntuaciones la mediana es la media entre las dos puntuaciones centrales.

Existen dos métodos para el cálculo de la mediana:
Considerando los datos en forma individual, sin agruparlos.
Utilizando los datos agrupados en intervalos de clase.
      </p>
  <div class="video">
    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/UwlKFdM7ms8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    </ion-card-content>
  </ion-card>
  
  </ion-content>
