<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header">Tema 3 Unidad4</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-text class="title-temas">
            Media
        </ion-text>
        <ion-img class="img-temas" src="../../assets/Imagenes/media2.jpg"></ion-img>
        <p>
            Existen muchas formas de calcular una media. La más conocida es la media aritmética. Aun así, hay otras formas para calcular la media de un conjunto de valores, como la media geométrica, la ponderada o la armonizada. Vamos a verlas una a una:

Media aritmética
Es la forma que todos conocemos en la que todas las observaciones tienen la misma ponderación y la solemos calcular con la siguiente fórmula:

 



Donde x es el valor de la variable i, y N el número total de variables.

Supongamos que nuestras calificaciones en la escuela son:

Asignatura	Nota
Matemáticas	7
Educación Física	8
Biología	5
Economía	10
 

N = número total de asignaturas = 4

Entonces aplicando la fórmula que acabamos de exponer, el resultado sería:





 

 

Nuestra nota media será de un 7,5.

Media ponderada
Ahora vamos a ver un ejemplo en el que vamos a calcular nuestra nota de Economía. Nuestra nota media de economía, va a depender de tres notas. Dado que la importancia o ponderación, de las distintas partes de la asignatura no es el mismo, tomaremos como referencia la siguiente fórmula:



 

Donde x es el valor de la variable i, P es el peso importancia de la variable y N el número total de variables.

Trabajo sobre el crash del 29 — 20%

Examen final ———————— 70%

Asistencia a clase —————— 10%

En el trabajo sobre el crash del 29, gracias a que buscamos información en Economipedia, nos pusieron un 9,5. En el examen final tuvimos un 8,5. Sin embargo, solo asistimos a 10 clases de un total de 20. Por lo que nuestra nota en asistencia a clase es de un 5.

Para saber nuestra nota final de la asignatura de economía debemos multiplicar nuestra nota por la ponderación. Tal que:





 

 

Nuestra nota final de la asignatura es de 8,35.

Media geométrica
La media geométrica de conjunto de números positivos, y siempre positivos, es la raíz n-ésima del produto del conjunto de números.

Dado que es un producto conjunto, si uno de los elementos es cero, entonces el producto total será cero. Y, en consecuencia, la raíz dará como resultado cero. Por ello, debe siempre tenerse en cuenta que ninguno de los números sea cero.



Donde N es el número de observaciones que tenemos.

Esta media se utiliza principalmente para variables en tantos por uno (porcentajes) o índices. Su ventaja sobre las demás formas de cálculo es su menor sensibilidad a valores extremos de las variables. Su desventaja, sin embargo, es que no se pueden utilizar números negativos, ni valores iguales a cero.

Supongamos los resultados de una empresa. La empresa ha generado un 20% de rentabilidad el primer año, un 15% el segundo año, un 33% el tercer año y un 25% el cuarto año. Lo fácil, en este caso sería sumar las cantidades y dividir entre cuatro. Sin embargo esto no es correcto.

Para calcular la media de varios porcentajes debemos hacer uso de la media geométrica. Aplicado al caso anterior, tendríamos lo siguiente:



El resultado es 1,23, que expresado en porcentaje es un 23%. Lo que quiere decir que en promedio, cada año la empresa ha ganado un 23%. Dicho de otra forma, si cada año hubiese ganado un 23%, hubiera ganado lo mismo que ganando un 20% el primer año, un 15% el segundo, un 33% el tercero y un 25% el último año.

NOTA: Si las rentabilidades fueran negativas, no se pondrían números negativos. Si la rentabilidad es del -20%, el número a multiplicar sería 0,8. Si la rentabilidad es del -5%, el número a multiplicar sería 0,95. En conclusión si las rentabilidad son positivas, a uno le sumamos el porcentaje en tanto por uno. Mientras que, si las rentabilidad o porcentajes son negativos, a 1 le restamos el porcentaje en tanto por uno.

Media armonizada
La media armonizada de un conjunto de valores es igual a la inversa de la media aritmética. Su fórmula queda tal que:



Se recomendada para calcular velocidades. Es especialmente sensible a valores extremos pequeños, pero poco sensible a valores extremos grandes. En economía se usa para calcular uno de los índices más famosos y utilizados en estadística económica, el índice de Paasche.

Supongamos que tenemos una empresa con reparto a domicilio en moto. Nos realizan un encargo a 4 kilómetros. El primer kilómetro el repartidor va a una velocidad de 30 km/h, el segundo kilómetro a 25 km/h, el tercer kilómetro se encuentran con tráfico y reduce la velocidad a 15 km/h y el último tramo a 35 km/h.

Nos disponemos a calcular la velocidad media del repartidor y obtenemos que:

 



La velocidad media de nuestro repartidor durante el reparto ha sido de 23,5 km/h.
        </p>
            
    <div class="video">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/UwlKFdM7ms8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      </ion-card-content>
    </ion-card>
    
    </ion-content>
  
