<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">Estadística</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text class="title-temas">
        Estadística
      </ion-text>
      <ion-img class="img-temas" src="../../assets/Imagenes/estadistica.jpg"></ion-img>
      <P>
        La Probabilidad y la Estadística se encargan del estudio del azar desde el punto de vista de las matemáticas:

La Probabilidad propone modelos para los fenómenos aleatorios, es decir, los que se pueden predecir con certeza, y estudia sus consecuencias lógicas.
La Estadística ofrece métodos y técnicas que permiten entender los datos a partir de modelos.
De esta manera, el Cálculo de las Probabilidades es una teoría matemática y la Estadística es una ciencia aplicada donde hay que dar un contenido concreto a la noción de probabilidad.
      </P>
  <div class="video">
    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/wXexKKTBEek" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    </ion-card-content>
  </ion-card>
  
  </ion-content>