<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header">Tema 3 Unidad 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-text class="title-temas">
            Polígonos
        </ion-text>
        <ion-img class="img-temas" src="../../assets/Imagenes/poligono.png"></ion-img>
        <P>
            Polígonos
Un polígono es una figura plana con lados rectos.
¿Es un polígono?
Los polígonos son formas bidimensionales. Están hechos con líneas rectas, y su forma es "cerrada" (todas las líneas están conectadas).

		
Polígono
(lados rectos)	No es un polígono
(tiene una curva)	No es un polígono
(abierto, no cerrado)
Tipos de polígonos
Simple o complejo
Un polígono simple sólo tiene un borde que no se cruza con él mismo. ¡Uno complejo se interseca consigo mismo!

	
Polígono simple
(este es un pentágono)	Polígono complejo
(también es un pentágono)
Cóncavo o convexo
Un polígono convexo no tiene ángulos que apunten hacia dentro. En concreto, los ángulos internos no son mayores que 180°.

Si hay algún ángulo interno mayor que 180° entonces es cóncavo. (Para acordarte: cóncavo es como tener una "cueva")

	
Convexo	Cóncavo
Regular o irregular
Si todos los ángulos son iguales y los lados también, es regular, si no es irregular

	
Regular	Irregular
Más ejemplos
		
Polígono complejo
(un "polígono estrellado", en
este caso un pentagrama)	Octágono cóncavo

Hexágono irregular
        </P>
    <div class="video">
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/wUmqDz3o8Uo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      </ion-card-content>
    </ion-card>
    
    </ion-content>
    
  
  
